#!/usr/bin/make -f
export PYBUILD_NAME=linux-iprojection

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	
	# Install data files
	mkdir -p debian/linux-iprojection/usr/share/applications/
	cp data/dev.linux_iprojection.LinuxIProjection.desktop debian/linux-iprojection/usr/share/applications/
	
	mkdir -p debian/linux-iprojection/usr/share/icons/hicolor/scalable/apps/
	cp data/icons/hicolor/scalable/apps/dev.linux_iprojection.LinuxIProjection.svg debian/linux-iprojection/usr/share/icons/hicolor/scalable/apps/
	
	mkdir -p debian/linux-iprojection/usr/share/metainfo/
	cp data/dev.linux_iprojection.LinuxIProjection.metainfo.xml debian/linux-iprojection/usr/share/metainfo/
	
	mkdir -p debian/linux-iprojection/usr/share/linux-iprojection/
	cp data/linux_iprojection.gresource debian/linux-iprojection/usr/share/linux-iprojection/
