#!/usr/bin/make -f
export PYBUILD_NAME=epsonctl

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	
	# Install data files
	mkdir -p debian/epsonctl/usr/share/applications/
	cp data/dev.epsonctl.EpsonCtl.desktop debian/epsonctl/usr/share/applications/
	
	mkdir -p debian/epsonctl/usr/share/icons/hicolor/scalable/apps/
	cp data/icons/hicolor/scalable/apps/dev.epsonctl.EpsonCtl.svg debian/epsonctl/usr/share/icons/hicolor/scalable/apps/
	
	mkdir -p debian/epsonctl/usr/share/metainfo/
	cp data/dev.epsonctl.EpsonCtl.metainfo.xml debian/epsonctl/usr/share/metainfo/
	
	mkdir -p debian/epsonctl/usr/share/epsonctl/
	cp data/epsonctl.gresource debian/epsonctl/usr/share/epsonctl/
